# Airbnb

1) Calculate changes in number of listings using datasets from January 2020 to Present(January 2021). Datasets obtained from http://insideairbnb.com/get-the-data.html

In [ ]:
import pandas as pd

MAL = 0 #average number of listings per month over the past year

def calculate_off_new(df, df2):
  merged = df.merge(df2[['id', 'price']],
                  on='id', 
                  how='left')

  isNaN = merged.price_y != merged.price_y
  isOff = merged[isNaN]
  print('#Off:')
  print(len(isOff.index))
  print('#New:')
  print(len(df2.index) + len(isOff.index) - len(df.index))
  print('#Total Change:')
  print(len(df2.index) - len(df.index))

################################ COMPARE JAN-FEB 2020
df = pd.read_csv("listings.csv")
print('-----------------> JAN-FEB 2020 changes in listings:')
df2 = pd.read_csv("listings_feb.csv")
calculate_off_new(df, df2)
# add monthly price changes
result = df
result = result.merge(df2[['id', 'price']], on='id')
print(result.shape)
MAL = len(df2.index) + len(df.index)

################################ COMPARE FEB-MAR 2020
df = pd.read_csv("listings_feb.csv")
print('-----------------> FEB-MAR 2020 changes in listings:')
df2 = pd.read_csv("listings_mar.csv")
calculate_off_new(df, df2)
# add monthly price changes
result = result.merge(df2[['id', 'price']], on='id')
print(result.shape)
MAL = MAL + len(df2.index)

################################ COMPARE MAR-APR 2020
df = pd.read_csv("listings_mar.csv")
print('-----------------> MAR-APR 2020 changes in listings:')
df2 = pd.read_csv("listings_apr.csv")
calculate_off_new(df, df2)
# add monthly price changes
result = result.merge(df2[['id', 'price']], on='id')
print(result.shape)
MAL = MAL + len(df2.index)

################################ COMPARE APR-MAY 2020
df = pd.read_csv("listings_apr.csv")
print('-----------------> APR-MAY 2020 changes in listings:')
df2 = pd.read_csv("listings_may.csv")
calculate_off_new(df, df2)
# add monthly price changes
result = result.merge(df2[['id', 'price']], on='id')
print(result.shape)
MAL = MAL + len(df2.index)

################################ COMPARE MAY-JUN 2020
df = pd.read_csv("listings_may.csv")
print('-----------------> MAY-JUN 2020 changes in listings:')
df2 = pd.read_csv("listings_jun.csv")
calculate_off_new(df, df2)
# add monthly price changes
result = result.merge(df2[['id', 'price']], on='id')
print(result.shape)
MAL = MAL + len(df2.index)

################################ COMPARE JUN-JUL 2020
df = pd.read_csv("listings_jun.csv")
print('-----------------> JUN-JUL 2020 changes in listings:')
df2 = pd.read_csv("listings_jul.csv")
calculate_off_new(df, df2)
# add monthly price changes
result = result.merge(df2[['id', 'price']], on='id')
print(result.shape)
MAL = MAL + len(df2.index)

################################ COMPARE JUL-AUG 2020
df = pd.read_csv("listings_jul.csv")
print('-----------------> JUL-AUG 2020 changes in listings:')
df2 = pd.read_csv("listings_aug.csv")
calculate_off_new(df, df2)
# add monthly price changes
result = result.merge(df2[['id', 'price']], on='id')
print(result.shape)
MAL = MAL + len(df2.index)

################################ COMPARE AUG-SEP 2020
df = pd.read_csv("listings_aug.csv")
print('-----------------> AUG-SEP 2020 changes in listings:')
df2 = pd.read_csv("listings_sep.csv")
calculate_off_new(df, df2)
# add monthly price changes
result = result.merge(df2[['id', 'price']], on='id')
print(result.shape)
MAL = MAL + len(df2.index)

################################ COMPARE SEP-OCT 2020
df = pd.read_csv("listings_sep.csv")
print('-----------------> SEP-OCT 2020 changes in listings:')
df2 = pd.read_csv("listings_oct.csv")
calculate_off_new(df, df2)
# add monthly price changes
result = result.merge(df2[['id', 'price']], on='id')
print(result.shape)
MAL = MAL + len(df2.index)

################################ COMPARE OCT-NOV 2020
df = pd.read_csv("listings_oct.csv")
print('-----------------> OCT-NOV 2020 changes in listings:')
df2 = pd.read_csv("listings_nov.csv")
calculate_off_new(df, df2)
# add monthly price changes
result = result.merge(df2[['id', 'price']], on='id')
print(result.shape)
MAL = MAL + len(df2.index)

################################ COMPARE NOV-DEC 2020
df = pd.read_csv("listings_nov.csv")
print('-----------------> NOV-DEC 2020 changes in listings:')
df2 = pd.read_csv("listings_dec.csv")
calculate_off_new(df, df2)
# add monthly price changes
result = result.merge(df2[['id', 'price']], on='id')
print(result.shape)
MAL = MAL + len(df2.index)

################################ COMPARE DEC-JAN 2021
df = pd.read_csv("listings_dec.csv")
print('-----------------> DEC-JAN 2021 changes in listings:')
df2 = pd.read_csv("listings_jan.csv")
calculate_off_new(df, df2)
# add monthly price changes
result = result.merge(df2[['id', 'price']], on='id')
print(result.shape)
MAL = MAL + len(df2.index)

################################ COMPARE JAN-FEB 2021
df = pd.read_csv("listings_jan.csv")
print('-----------------> JAN-FEB 2021 changes in listings:')
df2 = pd.read_csv("feb_2021.csv")
calculate_off_new(df, df2)
# add monthly price changes
result = result.merge(df2[['id', 'price']], on='id')
print(result.shape)
MAL = MAL + len(df2.index)

################################ COMPARE FEB-MAR 2021
df = pd.read_csv("feb_2021.csv")
print('-----------------> FEB-MAR 2021 changes in listings:')
df2 = pd.read_csv("mar_2021.csv")
calculate_off_new(df, df2)
# add monthly price changes
result = result.merge(df2[['id', 'price']], on='id')
print(result.shape)
MAL = MAL + len(df2.index)

################################ COMPARE MAR-APR 2021
df = pd.read_csv("mar_2021.csv")
print('-----------------> FEB-MAR 2021 changes in listings:')
df2 = pd.read_csv("apr_2021.csv")
calculate_off_new(df, df2)
# add monthly price changes
result = result.merge(df2[['id', 'price']], on='id')
print(result.shape)
MAL = MAL + len(df2.index)

print('-----------------> BASELINE (average monthly active listings):')
print(MAL/16)

-----------------> JAN-FEB 2020 changes in listings:
#Off:
1766
#New:
1640
#Total Change:
-126
(21758, 17)
-----------------> FEB-MAR 2020 changes in listings:
#Off:
1669
#New:
1275
#Total Change:
-394
(20442, 18)
-----------------> MAR-APR 2020 changes in listings:
#Off:
1403
#New:
824
#Total Change:
-579
(19394, 19)
-----------------> APR-MAY 2020 changes in listings:
#Off:
1329
#New:
675
#Total Change:
-654
(18500, 20)
-----------------> MAY-JUN 2020 changes in listings:
#Off:
1441
#New:
836
#Total Change:
-605
(17542, 21)
-----------------> JUN-JUL 2020 changes in listings:
#Off:
1569
#New:
929
#Total Change:
-640
(16608, 22)
-----------------> JUL-AUG 2020 changes in listings:
#Off:
2049
#New:
1098
#Total Change:
-951
(15363, 23)
-----------------> AUG-SEP 2020 changes in listings:
#Off:
1222
#New:
990
#Total Change:
-232
(14799, 24)
-----------------> SEP-OCT 2020 changes in listings:
#Off:
1700
#New:
1103
#Total Change:
-597
(13876, 25)
-----------------> OCT-NOV 2020 changes in listings:
#Off:
663
#New:
723
#Total Change:
60
(13569, 26)
-----------------> NOV-DEC 2020 changes in listings:
#Off:
1297
#New:
1044
#Total Change:
-253
(12943, 27)
-----------------> DEC-JAN 2021 changes in listings:
#Off:
937
#New:
649
#Total Change:
-288
(12526, 28)
-----------------> JAN-FEB 2021 changes in listings:
#Off:
3440
#New:
1007
#Total Change:
-2433
(10275, 29)
-----------------> FEB-MAR 2021 changes in listings:
#Off:
609
#New:
590
#Total Change:
-19
(10137, 30)
-----------------> FEB-MAR 2021 changes in listings:
#Off:
1123
#New:
852
#Total Change:
-271
(9825, 31)
-----------------> BASELINE (average monthly active listings):
19768.0625

In [ ]:
result.to_excel('AirbnbTO.xlsx')

2) Calculate average prices and average number of listings by room type and by neighbourhood.

In [ ]:
#calculate average price by neighbourhoods and by airbnb type
import pandas as pd

result = pd.DataFrame(columns=['room_type','month','neighbourhood','count','monthly_average'])

def monthly_average_by_neigh(result, df, room, month):
  price_by_neigh_type = df[['neighbourhood', 'price']].groupby(['neighbourhood']).size().reset_index(name='count')
  price_by_neigh_type['monthly_average'] = df['price'].groupby(df['neighbourhood']).transform('mean')
  price_by_neigh_type.insert(0, 'month', month)
  price_by_neigh_type.insert(0, 'room_type', room)
  result = pd.concat([result, price_by_neigh_type])
  print(result.shape)
  return result

def monthly_average_by_room_type(result, df, month):
  isHotel = df['room_type'] == 'Hotel room'
  result = monthly_average_by_neigh(result, df[isHotel],'Hotel Room', month)
  isPrivate = df['room_type'] == 'Private room'
  result = monthly_average_by_neigh(result, df[isPrivate],'Private Room', month)
  isShared = df['room_type'] == 'Shared room'
  result = monthly_average_by_neigh(result, df[isShared],'Shared Room', month)
  isEntire = df['room_type'] == 'Entire home/apt'
  result = monthly_average_by_neigh(result, df[isEntire], 'Entire Home', month)
  return result

df = pd.read_csv("listings.csv")
result = monthly_average_by_room_type(result, df, 'January, 2020')
df = pd.read_csv("listings_feb.csv")
result = monthly_average_by_room_type(result, df, 'February, 2020')
df = pd.read_csv("listings_mar.csv")
result = monthly_average_by_room_type(result, df, 'March, 2020')
df = pd.read_csv("listings_apr.csv")
result = monthly_average_by_room_type(result, df, 'April, 2020')
df = pd.read_csv("listings_may.csv")
result = monthly_average_by_room_type(result, df, 'May, 2020')
df = pd.read_csv("listings_jun.csv")
result = monthly_average_by_room_type(result, df, 'June, 2020')
df = pd.read_csv("listings_jul.csv")
result = monthly_average_by_room_type(result, df, 'July, 2020')
df = pd.read_csv("listings_aug.csv")
result = monthly_average_by_room_type(result, df, 'August, 2020')
df = pd.read_csv("listings_sep.csv")
result = monthly_average_by_room_type(result, df, 'September, 2020')
df = pd.read_csv("listings_oct.csv")
result = monthly_average_by_room_type(result, df, 'October, 2020')
df = pd.read_csv("listings_nov.csv")
result = monthly_average_by_room_type(result, df, 'November, 2020')
df = pd.read_csv("listings_dec.csv")
result = monthly_average_by_room_type(result, df, 'December, 2020')
df = pd.read_csv("listings_jan.csv")
result = monthly_average_by_room_type(result, df, 'January, 2021')
df = pd.read_csv("feb_2021.csv")
result = monthly_average_by_room_type(result, df, 'February, 2021')
df = pd.read_csv("mar_2021.csv")
result = monthly_average_by_room_type(result, df, 'March, 2021')
df = pd.read_csv("apr_2021.csv")
result = monthly_average_by_room_type(result, df, 'April, 2021')

(12, 5)
(152, 5)
(235, 5)
(375, 5)
(386, 5)
(526, 5)
(607, 5)
(747, 5)
(758, 5)
(898, 5)
(979, 5)
(1119, 5)
(1130, 5)
(1270, 5)
(1350, 5)
(1490, 5)
(1500, 5)
(1640, 5)
(1720, 5)
(1860, 5)
(1870, 5)
(2010, 5)
(2092, 5)
(2232, 5)
(2242, 5)
(2382, 5)
(2461, 5)
(2601, 5)
(2611, 5)
(2751, 5)
(2831, 5)
(2971, 5)
(2981, 5)
(3121, 5)
(3200, 5)
(3340, 5)
(3351, 5)
(3491, 5)
(3570, 5)
(3710, 5)
(3720, 5)
(3860, 5)
(3941, 5)
(4081, 5)
(4092, 5)
(4232, 5)
(4312, 5)
(4452, 5)
(4463, 5)
(4603, 5)
(4683, 5)
(4823, 5)
(4833, 5)
(4973, 5)
(5044, 5)
(5184, 5)
(5194, 5)
(5334, 5)
(5403, 5)
(5543, 5)
(5553, 5)
(5693, 5)
(5762, 5)
(5901, 5)

In [ ]:
result.to_excel('Airbnb_monthly_avg_by_month_by_neigh.xlsx')

# LinkedIn Data

Step 1. **Keeping first occurence of repeating job postings.**
(first date, last date, and today number displayed at the bottom)

In [ ]:
import pandas as pd

df3 = pd.read_csv("finance.csv")
df1 = pd.read_csv("food.csv")
df4 = pd.read_csv("professional.csv")
df2 = pd.read_csv("trade.csv")

#sort by date
df1['Date'] = pd.to_datetime(df1.Date)
df1 = df1.sort_values(by='Date')

df2['Date'] = pd.to_datetime(df2.Date)
df2 = df2.sort_values(by='Date')

df3['Date'] = pd.to_datetime(df3.Date)
df3 = df3.sort_values(by='Date')

df4['Date'] = pd.to_datetime(df4.Date)
df4 = df4.sort_values(by='Date')

#drop duplicates. keeping the first appearance
df1 = df1.drop_duplicates()
df2 = df2.drop_duplicates()
df3 = df3.drop_duplicates()
df4 = df4.drop_duplicates()

frames = [df1, df2, df3, df4]
result = pd.concat(frames)

# Keeping dates starting from November 1st.
result = result[(result['Date'] > '2020-10-31')]
result = result.sort_values(by='Date')

#display results
print("Start date of data collection:")
print(result.Date.head(1))
print("Last date of data collection:")
print(result.Date.tail(1))
print("Size of data:")
print(result.shape)

Start date of data collection:
1963   2020-12-06
Name: Date, dtype: datetime64[ns]
Last date of data collection:
25154   2021-03-02
Name: Date, dtype: datetime64[ns]
Size of data:
(13949, 7)

MANUAL CLEANING STARTS HERE

In [ ]:
######################################
########## STEP 1. FEED IN COMBINED DATA FROM PREVIOUS MONTH
import pandas as pd

result = pd.read_csv("COMBINED_NOV_2_APR.csv")
result['Date'] = pd.to_datetime(result.Date)

In [ ]:
######################################
########## STEP 2. FEED IN NEWLY COLLECTED DATA

import pandas as pd

df3 = pd.read_csv("finance.csv")
df1 = pd.read_csv("food.csv")
df4 = pd.read_csv("professional.csv")
df2 = pd.read_csv("trade.csv")

#sort by date
df1['Date'] = pd.to_datetime(df1.Date)
df1 = df1.sort_values(by='Date')

df2['Date'] = pd.to_datetime(df2.Date)
df2 = df2.sort_values(by='Date')

df3['Date'] = pd.to_datetime(df3.Date)
df3 = df3.sort_values(by='Date')

df4['Date'] = pd.to_datetime(df4.Date)
df4 = df4.sort_values(by='Date')

#drop duplicates. keeping the first appearance
df1 = df1.drop_duplicates()
df2 = df2.drop_duplicates()
df3 = df3.drop_duplicates()
df4 = df4.drop_duplicates()

frames = [result, df1, df2, df3, df4]
result2 = pd.concat(frames)

# Keeping dates starting from November 1st.
result2 = result2[(result2['Date'] > '2020-10-31')]
result2 = result2.sort_values(by='Date')

#display results
print("Start date of data collection:")
print(result2.Date.head(1))
print("Last date of data collection:")
print(result2.Date.tail(1))
print("Size of data:")
print(result2.shape)

Start date of data collection:
0   2020-11-01
Name: Date, dtype: datetime64[ns]
Last date of data collection:
36600   2021-05-17
Name: Date, dtype: datetime64[ns]
Size of data:
(54845, 7)

Step 2. **Look for duplicates among 4 industries.**

In [ ]:
######################################
########## STEP 3. REMOVE DUPLICATES

print(result2.shape)

#filter out jobs with no links
notNaN = result2['Link'] == result2['Link']
result2 = result2[notNaN]

print(result2.shape)

#filter by unique entries(keep first occurence. Food -> Retail -> Finance -> Professional)
result2 = result2.drop_duplicates()
print(result2.shape)

(54845, 7)
(54845, 7)
(37148, 7)

In [ ]:
######################################
########## STEP 4. SAVE, DOWNLOAD, AND RENAME FOLLOWING THE NAMING CONVENTION
result2.to_csv('Linkedin_' + str(result2.Date.tail(1)) + '.csv', index = False)

# YELP DATA

In [ ]:
import pandas as pd

df = pd.read_excel("TO_rest_May2Nov_cleaned.xlsx")
print(df.shape)

duplicateRowsDF = df[df.duplicated()]
print(duplicateRowsDF.shape) #no duplicates

(5978, 23)
(0, 23)

## DUPLICATE PHONE NUMBERS

In [ ]:
duplicateRowsDF = df[df.duplicated(['phone_x'])]

notNaN = duplicateRowsDF['phone_x'] == duplicateRowsDF['phone_x']
dfNumnotNaN = duplicateRowsDF[notNaN]

pd.concat(g for _, g in dfNumnotNaN.groupby("phone_x") if len(g) > 1)

      Column1  ...                             Specific Neighbourhood
1369     1379  ...   Downtown Toronto (Regent Park / Port of Toronto)
1371     1381  ...     Central Toronto (Moore Park / Summerhill East)
1356     1366  ...  Downtown Toronto (Harbourfront East / Union St...
3090     3109  ...  Downtown Toronto (Harbourfront East / Union St...
5014     5035  ...  Downtown Toronto (Harbourfront East / Union St...
...       ...  ...                                                ...
4316     4337  ...                                              Other
4909     4930  ...       West Toronto (Dufferin / Dovercourt Village)
4913     4934  ...                                              Other
2902     2920  ...                                              Other
2931     2949  ...                                              Other

[131 rows x 23 columns]

## 9 RESTAURANTS WHO SHARE SAME NUMBER AND ADDRESS

In [ ]:
try_address = pd.concat(g for _, g in dfNumnotNaN.groupby("phone_x") if len(g) > 1)
duplicateRowsDF = try_address[try_address.duplicated(['location.address1_x'])]

pd.concat(g for _, g in dfNumnotNaN.groupby("location.address1_x") if len(g) > 1)

      Column1  ...                             Specific Neighbourhood
790       794  ...                                              Other
1264     1269  ...                                              Other
1334     1344  ...                                              Other
2213     2225  ...                                              Other
2583     2598  ...                                              Other
2716     2733  ...                                              Other
5123     5144  ...                                              Other
5435     5457  ...                                              Other
3619     3639  ...                                              Other
3626     3646  ...                                              Other
1042     1046  ...                                              Other
4913     4934  ...                                              Other
1684     1695  ...                         Downtown Toronto (Ryerson)
2796     2814  ...                         Downtown Toronto (Ryerson)
3526     3546  ...                         Downtown Toronto (Ryerson)
3641     3661  ...                         Downtown Toronto (Ryerson)
3736     3756  ...                                              Other
5554     5577  ...                                              Other
5734     5757  ...       West Toronto (Dufferin / Dovercourt Village)
5738     5761  ...       West Toronto (Dufferin / Dovercourt Village)
2791     2809  ...       West Toronto (Dufferin / Dovercourt Village)
4909     4930  ...       West Toronto (Dufferin / Dovercourt Village)
1356     1366  ...  Downtown Toronto (Harbourfront East / Union St...
3090     3109  ...  Downtown Toronto (Harbourfront East / Union St...

[24 rows x 23 columns]

In [ ]:
print(duplicateRowsDF.shape)

(9, 23)